.complete-page{
    border-left: 5px solid #FF3366;
}

/*! PRESENTATION SECTION*/
.pres{
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.pres-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color:#8a3737; */
    color: white;   
    padding: 0 1rem;
    padding-bottom: 20px;
    height: 100vh;
    font-size: 60px;
}


/*! ABOUT SECTION */
.about {
    /* margin-top: 20%; */
    color: white;
    padding: 0 1rem ;
    /* background-color:rgb(0, 136, 255); */
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-body {
    /* background-color: #8a3737;  */
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-bottom: 2%;
    border-radius: 25px;
    margin-top: 2%;
    font-size: 20px;
}
.about-title {
    display: flex;
    margin-left: 10%;
    padding: 10px;
    justify-content: start;
    font-size: 42px;
}


/*? COLUMN */
.col1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}
.col2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}
.col3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
}

/** COL 1 */
/*? CONTACT BOX */
.contact {
    /* grid-area:1/1/4/2; */

    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    transition: 0.3s ease;
}
.contact:hover{
    transform: scale(0.95);
}
.contact-title {
    display: flex;
    justify-content: start;
}
.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.logo-list {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.contact-logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.contact-logo:hover {
    box-shadow: 2px 2px 2px #FF3366,2px -2px 2px #FF3366, -2px 2px 2px #FF3366, -2px -2px 2px #FF3366;
    /* animation: 1s ease superrotate; */
    transform: scale(1.2) rotate(5deg);
}
.mail{
    font-size: 16px;
    font-weight: bold;
    /* text-shadow: 
    /* 1px 1px 0 #FF3366,
    -1px 1px 0 #FF3366,
    -1px -1px 0 #FF3366,
    10px -10px 3px #FF3366; */
}

/*? FAV BOX */
.fav {
    /* grid-area:4/1/7/2; */
    display: flex;
    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    transition: 0.3s ease;
}
.fav:hover{
    transform: scale(0.95);
}
.fav-title{
    display: flex;
    
    justify-content: start;
}
.fav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    height: 80%;
}
.fav-logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.fav-logo:hover {
    box-shadow: 2px 2px 2px #FF3366,2px -2px 2px #FF3366, -2px 2px 2px #FF3366, -2px -2px 2px #FF3366;
    /* animation: 1s ease superrotate; */
    transform: scale(1.2) rotate(5deg);
}
@keyframes superrotate {
    0%{
        rotate: 0;
    }
    30%, 50%{
        rotate: -30deg;
    }
    100% {
        rotate: 360deg;
    }
}

/** COL 2 */
/*? TEXT ANIMATION BOX */
.textanime-content{
    color: white;
}
.textanime  {
	/* grid-area:1/3/4/4; */
    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    width: 100%;
    height: 110px;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s ease;
}
.textanime:hover {
    transform: scale(0.95);
}
#cursor{
    animation: blink 0.7s linear infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*? IMG PROFILE BOX */
.imgprofile {
    /* grid-area:1/2/5/3; */
    justify-content: center;
    /* border: solid;
    border-width: 1px;
    border-color: #171717; */
    /* background-color: #252525; */
    border-radius: 20px;
    transition: 0.3s ease;
}
/* .imgprofile:hover {
    transform: scale(0.95);
} */
.img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
.img:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px #FF3366,2px -2px 2px #FF3366, -2px 2px 2px #FF3366, -2px -2px 2px #FF3366;
    rotate: 2deg;
}



/** COL 3 */

/*? EXPERIENCE BOX */
.experience{
    /* grid-area:5/2/8/4; */
    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    transition: 0.3s ease;
}
.experience:hover{
    transform: scale(0.95);
}
.experience-title{
    display: flex;
    justify-content: start;
    color: white;
}
.experience-subtitle{
    margin-top: -1%;
    opacity: 0.6;
}
.experience-content{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
}
.experience-section{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.experience-date{
    font-size: 15px;
    opacity: 0.6;
}
.experience-info{
    width: 60%;
}
.experience-info-name {
    font-size: 18px;
    font-weight: 500;
}
.experience-info-detail{
    margin-top: -2%;
    font-size: 14px;
    opacity: 0.6;
}

/*? ETUDE BOX */
.etude{
    /* grid-area: 8/3/14/4; */
    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    border-radius: 25px;
    padding: 20px;
    transition: 0.3s ease;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.etude:hover{
    transform: scale(0.95);
}
.etude-title{
    display: flex;
    justify-content: start;
    color: white;
}
.etude-content{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
}
.etude-section{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.etude-date{
    font-size: 15px;
    opacity: 0.6;
}
.etude-info{
    width: 60%;
}
.etude-info-name {
    font-size: 18px;
}
.etude-info-detail{
    margin-top: 0;
    font-size: 14px;
    opacity: 0.6;
}

/*? HOBBY BOX */
.hobby{
    /* grid-area:7/1/14/2; */
    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    width: 100%;
    border-radius: 25px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    transition: 0.3s ease;
}
.hobby:hover{
    transform: scale(0.95);
}
.hobby-title{
    display: flex;
    justify-content: start;
}
.hobby-content{
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
}
.hobby-section{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.hobby-section-title{
    font-size: 20px;
    font-weight: 500;
}
.hobby-section-detail{
    width: 60%;
}
.hobby-section-detail-pri{
    font-size: 18px;
}
.hobby-section-detail-sub{
    opacity: 0.6;
    font-size: 14px;
}

/*! COMPETENCE SECTION */
.competence {
    margin-top: 20%;
    color: white;
    padding: 0 1rem;
    padding-bottom: 20px;
}
.competence-title {
    display: flex;
    margin-left: 10%;
    padding: 10px;
    justify-content: start;
    font-size: 42px;
}
.competence-content{
    display: flex;
    flex-direction: row;
}
.competence-section {
    border: solid;
    border-width: 1px;
    border-color: #171717;
    background-color: #252525;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

/*! PROJECT SECTION */

.project {
    margin-top: 20%;
    color: white;
    
    padding: 0 1rem;
    padding-bottom: 20px;
}

.project_title {
    margin-left: 10%;
    padding: 10px;
    font-size: 42px;
    display: flex;
    justify-content: start;
}

.project_body {
    background-color: #252525;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 25px;
    overflow-x: scroll;
}




@media screen and (max-width:1220px) {
    .about-body {
        grid-template-columns: repeat(2, 1fr);
    }
    .pres-content{
        font-size: 55px;
    }
    .about-title{
        font-size: 40px;
    }
    .competence-title{
        font-size: 40px;
    }
    .project_title{
        font-size: 40px;
    }

    .col3 {
        grid-column: span 1;
    }
}


@media screen and (max-width: 1100px){
    .pres-content{
        font-size: 50px;
    }
    .about-title{
        font-size: 38px;
    }
    .competence-title{
        font-size: 38px;
    }
    .project_title{
        font-size: 38px;
    }
    .about-body{
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .col2{
        order: 0;
    }
    .col1{
        order: 1;
    }
    .col3{
        order: 2;
    }

    .about-body {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
}

@media screen and (max-width: 700px) {
    .about-body {
        grid-template-columns: 1fr; /* 1 column on small screens */
    }
    .pres-content{
        font-size: 35px;
    }
    .about-title{
        font-size: 30px;
    }
    .competence-title{
        font-size: 30px;
    }
    .project_title{
        font-size: 30px;
    }
}