.header {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}


.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    padding: 0 1rem;
}

.navbar-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.header h1, a {
    color: white;
    text-decoration: none;
}

.header a:hover {
    opacity: 0.8;
}
