.skill_content{
    padding: 5px;
}

.bar {
    background-color: #2f2f2f;
    border-radius: 3px;
    padding: 5px;
}

.skill {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;            
    background-color: #FF3366;
    border-radius: 3px;
}
@media (prefers-reduced-motion: no-preference) {
    .progress {
        animation: progressbaranim 1.5s ease;
    }
}

@keyframes progressbaranim {
    0%{
        width: 0%;
    }
}